body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: rgb(3, 0, 41) !important;
    color: rgb(255, 255, 255)
}
.dashed {
    border-style: dashed;
  }
  .bold {
    border-width: 2.5px;
  }
  .text {
    width: 400px; font-size: 5px; flex-direction: column; text-align: center;
  }
  .text1 {
    width: 100px; font-size: 5px; flex-direction: column; text-align: center; color: black;
  }
  .plantet {
   background-color: rgba(255, 255, 255, 0.5);
  }
  .vector,
  [class*=vector-] {
      border: 0.1px solid rgb(75, 51, 0)
  }
  .orbit,
  [class*=orbit-] {
    border: 0.1px solid rgba(255, 255, 255, 0.233)
  }
  